/* login.css */

/* 登录容器样式 */
#login-container {
    font-family: 'cursive', sans-serif;
    text-align: center;
    width: 300px; /* 登录容器的宽度 */
    padding: 20px;
    margin: auto; /* 水平居中 */
    margin-top: 20px; /* 上边距 */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#login-container h2 {
    margin-bottom: 10px; /* 底部边距 */
}

/* 登录表单样式 */
#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-container input {
    width: calc(100% - 22px);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#login-container button[type="submit"] {
    margin: 0.5em; /* 外边距 */
    padding: 0.5em 1em; /* 按钮内边距，使其比输入框小 */
    font-size: 16px; /* 按钮字体大小 */
    background-color: #007bff; /* 按钮背景颜色 */
    color: #fff; /* 按钮文字颜色 */
    border: none; /* 无边框 */
    border-radius: 3px; /* 边框圆角 */
    cursor: pointer; /* 鼠标指针样式 */
}

#login-container button[type="submit"]:hover {
    background-color: #0056b3; /* 鼠标悬停时的背景颜色 */
}

#guestBtn {
    padding: 0.1em 0.2em;
    font-size: 0.4em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}


/* 游戏容器样式 */
#game-container {
    display: none; /* 默认隐藏游戏容器 */
    text-align: center; /* 文本居中 */
    margin-top: 20px; /* 上边距 */
}

#game-container h1 {
    margin-bottom: 10px; /* 底部边距 */
}

#game-container p {
    margin-bottom: 20px; /* 底部边距 */
}

