.characters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.character {
    text-align: center;
    margin: 20px;
    width: 200px;
}

.character img {
    max-width: 400px;
}

.character h2 {
    margin: 10px 0;
}

.character p {
    font-size: 14px;
}