/* game.css */
#game-container {
    position: relative; /* 确保子元素的绝对定位基于此容器 */
    text-align: center;
    margin: 0 auto;
}

#randomImage {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 10px; /* 设置圆角半径为 10px */
}

#randomImageBtn {
    padding: 0.5em 1em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#randomImageBtn:hover {
    background-color: #555;
}

/* 登出按钮放置在容器的右下角 */
#ncclogoutBtn {
    
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #7391ff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1em; /* 添加上边距与图片分开 */
    margin-right: 800px;
    font-size: 14px;
}

#logoutBtn:hover {
    background-color: #555;
}
