body {
    font-family: 'cursive', sans-serif;
    background-color: #e3e8f3;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #666;
    text-align: center;
    margin-top: 10px;
}

/* 導覽行樣式 */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8F9FC9; /* 灰色背景 */
    padding: 10px 500px;
}

nav .logo img {
    height: 120px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    display: inline;
}

nav .nav-links a {
    color: white; /* 白色文字 */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold; /* 將導航欄的文字加粗 */
}

nav .nav-links a:hover {
    text-decoration: underline;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}
